body {
    margin: 0;
    padding: ~"calc(var(--top-bar-height) + var(--top-bar-border))" 0 0 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    * {
        outline-color: var(--main-color);
    }
    h1, h2, h3, h4, h5 {
        font-weight: normal;
    }
    h1 {
        font-size: 1.2rem;
    }
    h1,h2,h3 {
        color: var(--main-color);
    }
    a {
        text-decoration: none;
        color: var(--main-color);

    }
    hyphens: auto;
    text-align: justify;
}
.container {
    max-width: 1200px;
    box-sizing: border-box;
}
#portada {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ece4e4;
    z-index: 1000;
    div {
        text-align: center;
        transform: perspective(500px) rotateY(5deg) rotateX(-10deg);
        transition: transform .3s ease-out;
        &:hover, &:focus-within {
            transform: perspective(0px) rotateY(0deg) rotateX(0deg);
        }
    }
    img {
        width: 300px;
    }
    p {
        color: var(--external-title);
        position: relative;
        height: 0;
        margin: 0;
        top: -60px;
        text-decoration: underline;
        cursor: pointer;
        svg {
            color: var(--top-bar-background);
            position: relative;
            top: 12px;
            right: 32px;
        }
    }
    img:hover + p {
        text-decoration: none;
        svg {
            color: transparent;
        }
    }
    p:hover {
        text-decoration: underline;
        svg {
            color: transparent;
        }
    }
    form {
        margin: 0;
        position: relative;
        input {
            height: var(--top-bar-height);
            box-sizing: border-box;
            width: 100%;
            box-sizing: border-box;
            border: 0;
            padding-left: var(--small-margin);
            padding-right: ~"calc(var(--top-bar-icons-size) + 2 * var(--small-margin))";
        }
        transition: box-shadow .3s ease-out;
        box-shadow: 0 1px 0 rgb(250, 250, 251), 0 1px 6px rgba(59,64,69,0.1);
        &:hover, &:focus-within {
            box-shadow: 0 1px 0 rgb(250, 250, 251), 0 2px 8px rgba(59,64,69,0.2);
        }
        div {
            position: absolute;
            top: 0;
            right: 0;
            height: var(--top-bar-height);
            width: var(--top-bar-height);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: var(--backgroud-hover);
            }
        }
        svg{
            height: 100%;
            color: var(--main-color);
            right: var(--small-margin);
            font-size: var(--top-bar-icons-size);
            cursor: pointer;
        }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#top-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    height: var(--top-bar-height);
    background: var(--top-bar-background);
    width: 100vw;
    box-shadow: 0 1px 0 rgb(250, 250, 251),0 1px 6px rgba(59,64,69,0.1);
    border-top: var(--top-bar-border) solid var(--main-color);
    .container {
        display: flex;
        align-items: center;
        height: 100%;
    }
    #main {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        width: var(--secondary-column-width);
        @media (max-width: 500px) {
            width: auto;
        }
        h1 {
            @media (max-width: 900px) {
                display: none;
            }
        }
        img {
            height: var(--top-bar-height);
            padding: 5% var(--small-margin) 5% 0;
            box-sizing: border-box;
            @media (max-width: 500px) {
                padding: 10%;
                height: auto;
                width: var(--top-bar-height);
            }
        }
        a {
            text-decoration: none;
            color: var(--main-color);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    #search {
        margin: 0;
        flex-grow: 1;
        position: relative;
        input {
            height: var(--top-bar-height);
            box-sizing: border-box;
            width: 100%;
            box-sizing: border-box;
            border: 0;
            padding-left: var(--small-margin);
            padding-right: ~"calc(var(--top-bar-icons-size) + 2 * var(--small-margin))";
        }
        transition: box-shadow .3s ease-out;
        box-shadow: 0 1px 0 rgb(250, 250, 251), 0 1px 6px rgba(59,64,69,0.1);
        &:hover, &:focus-within {
            box-shadow: 0 1px 0 rgb(250, 250, 251), 0 2px 8px rgba(59,64,69,0.2);
        }
        div {
            position: absolute;
            top: 0;
            right: 0;
            height: var(--top-bar-height);
            width: var(--top-bar-height);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                background: var(--backgroud-hover);
            }
        }
        svg{
            height: 100%;
            color: var(--main-color);
            right: var(--small-margin);
            font-size: var(--top-bar-icons-size);
            cursor: pointer;
        }

    }
    .icon-actions {
        position: relative;
        color: var(--main-color);
        display: flex;
        flex-shrink: 0;
        padding-right: var(--small-margin);
        &>div {
            padding: var(--small-margin);
            cursor: pointer;
            &:hover {
                background: var(--backgroud-hover);
            }
        }
        &>div {
            height: var(--top-bar-height);
            width: var(--top-bar-height);
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                font-size: var(--top-bar-icons-size);
            }
        }
        .menu {
            display: none;
            &.show {
                display: flex;
            }
            height: auto;
            width: ~"calc(4 * var(--top-bar-height))";
            box-shadow: 0 1px 0 rgb(250, 250, 251),0 6px 6px rgba(59,64,69,0.1);
            background: var(--top-bar-background);
            position: absolute;
            right: var(--small-margin);
            top: var(--top-bar-height);
            flex-direction: column;
            &:hover {
                box-shadow: 0 1px 0 rgb(250, 250, 251),0 6px 12px rgba(59,64,69,0.1);
                background: var(--top-bar-background);
            }
            &>div {
                width: 100%;
                text-align: center;
                padding: .5rem;
                box-sizing: border-box;
                color: var(--soft-color);
                &.activo{
                    color: var(--main-color);
                    font-weight: bold;
                }
                &:hover {
                    background: var(--backgroud-hover);
                }
            }
        }
    }
}
.title {
    color: var(--external-title);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
a.link {
    color: rgb(0, 105, 33);
    display: block;
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    margin: .4ex 0 .8ex;
}
.card-link, .prev-link {
    &:hover {
        a.link, .title {
            white-space: normal;
        }
    }
}
section.container {
    // margin-left: 80px;
    min-height: ~"calc(100vh - 2 * var(--top-bar-height))";
    display: grid;
    grid-template-columns: 1fr var(--secondary-column-width);
    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
    #primary {
        h2 {
            padding-left: var(--small-margin);
            margin-left: var(--icon-information-width);
        }
        padding: var(--small-margin);
        @media (max-width: 500px) {
            padding: 0;
        }
        .card-url {
            display: grid;
            // grid-template-columns: var(--top-bar-height) 1fr;
            grid-template-columns: var(--icon-information-width) 1fr;
            grid-column-gap: var(--small-margin);
            margin-bottom: var(--small-margin);
            padding-bottom: var(--small-margin);
            padding: var(--small-margin);
            color: var(--soft-color);
            div.image {
                flex-shrink: 0;
                width: 160px;
                max-height: 160px;
                min-height: 80px;
                background-size: cover;
                background-position: center;
                margin-right: var(--small-margin);
            }

            .url-votes {
                color: var(--light-color);
                margin-right: var(--small-margin);
                margin-top: var(--small-margin);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &>div {
                    &.active {
                        color: var(--main-color);
                    }
                    text-align: center;
                    line-height: .5;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.2rem;
                    &>svg {
                        font-size: var(--action-big);
                        cursor: pointer;
                    }
                    &.unUpVote {
                        &>svg.downVote{
                            color: var(--light-color);
                        }
                    }
                    &.unDownVote {
                        &>svg.upVote{
                            color: var(--light-color);
                        }
                    }
                    &>div {
                        color: var(--light-color);
                        &.active {
                            color: var(--main-color);
                        }

                        cursor: pointer;
                        line-height: 1;
                        display: flex;
                        flex-direction: column;
                        font-size: 1rem;
                        &>svg {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .content {
                overflow: hidden;
                h3 {
                    margin-bottom: 0;
                    margin-top: 0;
                }
                .body {
                    display: flex;
                    div.image {
                        flex-shrink: 0;
                        width: 160px;
                        max-height: 160px;
                        min-height: 80px;
                        background-size: cover;
                        background-position: center;
                        margin-right: var(--small-margin);
                        @media (max-width: 600px) {
                            width: 120px;
                            max-height: 120px;
                            min-height: 60px;

                        }
                    }
                }

            }
        }
        #url {
            display: grid;
            grid-template-columns: var(--icon-information-width) 1fr;

            h2 {
                color: var(--soft-color);
                margin-left: 0;
            }
            &>.url {
                &>.image {
                    padding-top: 50%;
                    background-size: cover;
                    background-position: center;
                }
            }
            .url-votes {
                color: var(--light-color);
                margin-right: var(--small-margin);
                margin-top: var(--small-margin);
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &>div {
                    &.active {
                        color: var(--main-color);
                    }
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 1.5rem;
                    &>svg {
                        font-size: 3rem;
                        cursor: pointer;
                    }
                    &>div {
                        margin-top: var(--small-margin);
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        font-size: 1rem;
                        svg {
                            margin-bottom: .5rem;
                            font-size: 1rem;
                        }
                    }
                }
            }
            form {
                position: relative;
                input {
                    width: 100%;
                    box-sizing: border-box;
                    padding-right: ~"calc(3* var(--small-margin))"
                }
                svg {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    right: var(--small-margin);
                    color: var(--main-color);
                }
            }
        }
    }
    #secondary {
        box-sizing: border-box;
        padding: var(--small-margin);
        .prev-link {
            color: var(--soft-color);
            margin-bottom: var(--small-margin);
            div.link {
                display: flex;
                align-items: center;
                margin: .4ex 0;
                div {
                    &.active {
                        color: var(--main-color);
                    }
                    cursor: pointer;
                    font-size: .7rem;
                    color: var(--light-color);
                    flex-shrink: 0;
                    margin-right: .4rem;
                }
                a {
                    margin: 0;

                }
            }
            .description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-bottom: .4em;
            }
            &:hover {
                .description {
                    white-space: normal;
                }
            }
        }
        .sponsors {
            a {
                img {
                    margin-bottom: var(--small-margin);
                    width: 100%;
                }
            }
        }

    }
}
footer {
    a {
        color: var(--top-bar-background);
    }
    background: var(--soft-color);
    color: var(--top-bar-background);
    div {
        padding: var(--small-margin);
    }
    .container {
        min-height: var(--top-bar-height);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
